{% extends "index.html" %} 

{% block title %}
{% endblock %}


{% block header %}
<script>
    function openCalendar() {
      document.getElementById("due_date").click();
    }
</script>

<style>
  body {
      background-color: #f9f9f9;
      color: #373193;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  .card {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-top: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3 {
      color: #373193;
      font-size: 22px;
      margin-top: 0;
  }

  p {
      color: #373193;
      font-size: 14px;
      margin-bottom: 10px;
  }

  form {
      margin: 0;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #373193;
  }

  .form-group select,
  .form-group textarea,
  .form-group input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      resize: vertical;
      background-color: #f9f9f9;
      color: #373193;
      font-size: 14px;
  }

  .form-group button {
      margin-top: 10px;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-weight: bold;
      color: #ffffff;
  }

  .form-group .btn-primary {
      background-color: #373193;
  }

  .form-group .btn-secondary {
      background-color: #ffffff;
      color: #373193;
      border: 1px solid #373193;
  }

  .field-group {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }

  .field-group label {
      width: 120px;
      margin-right: 10px;
      font-weight: bold;
      color: #373193;
  }

  .field-group .form-control-static {
      padding: 6px 12px;
      background-color: #f9f9f9;
      color: #373193;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 3px;
      flex: 1;
  }

  .field-group .form-control-static.status {
      margin-left: 10px;
  }

  .form-group .form-control {
    background-color: #f9f9f9;
    color: #373193;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
  }

  
  .view_file  .download_file {
    float: right;
    margin-left: 10px;
  }
  .float-left-button {
    float: right;
    margin-left: 10px;
  }
</style>
{% endblock %}

{% block body %}


<div class="card">
  <form  method="POST">
      <div class="form-group">
          <div class="form-row">
              <div class="col-half">
                  <label for="title">Faylın Adı</label>
                  <input type="text" id="title" name="title" class="form-control-small" value="{{ document.user_defined_name }}"
                      readonly>
              </div>
          </div>
      </div>

      <div class="form-group">
        <label for="comment">Təyin edənin mesajı</label>
        <textarea name="comment" id="assigned_comment" rows="2" cols="40" readonly> {{ document.assigned_comment }} </textarea>
    </div>

      <div class="form-group">
          <label for="creation_date">Faylın Yaradılma Tarixi</label>
          <input type="text" id="creation_date" name="creation_date" class="form-control" value={{document.upload_date}}
              readonly>
      </div>

      
      <div class="form-group">
        <label for="due_date">Deadline Tarixi</label>
        <input type="date" id="due_date" name="due_date" class="form-control" onclick="openCalendar()" value = "{{ due_date }}" readonly>
      </div>


      <div class="form-group">
          <label for="review_comment">Mesaj</label>
          <textarea name="review_comment" id="reviewer_comment" rows="4" cols="50"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" name="accept" class="btn btn-primary">Qəbul Et</button>
        <button type="submit" name="reject" class="btn btn-danger">Rədd Et</button>
        <button type="button" class="btn btn-secondary cancel-button">Ləğv Et</button>

        <button type="button" onclick="window.open('{{ url_for( 'views.view_document', document_id=document.id) }}', '_blank')" class="btn btn-primary float-left-button"><i class="fas fa-eye"></i> Fayla Bax</button>
        <button type="button" onclick="window.open('{{ url_for( 'views.download_document', document_id=document.id) }}', '_blank')" class="btn btn-secondary float-left-button"><i class="fas fa-download"></i> Yüklə</button>
      
    </div>
      
  </form>
</div>



{% endblock %}